Importing libraries

In [2]:
import pandas as pd
import pyodbc

Importing data from MSSQL

In [4]:
server = 'DESKTOP-L1PEIU7\SQLEXPRESS'
db = 'Chinook'

conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server + ';DATABASE='+ db + ';Trusted_Connection=yes')

sql = """
SELECT 
c.LastName,
c.FirstName,
t.Name,
a.Title
FROM [Chinook].[dbo].[InvoiceLine] il
join Chinook.dbo.Invoice i
on i.InvoiceId  = il.InvoiceId
join Chinook.dbo.Customer c
on c.CustomerId = i.CustomerId
join Chinook.dbo.Track t
on t.TrackId = il.TrackId
join Chinook.dbo.Album a
on a.AlbumId = t.AlbumId
order by c.LastName,c.FirstName
"""

df = pd.read_sql(sql, conn)
df.head()

  LastName FirstName              Name           Title
0  Almeida   Roberto        Vai Passar  Minha Historia
1  Almeida   Roberto  Morena De Angola  Minha Historia
2  Almeida   Roberto    Meu Caro Amigo  Minha Historia
3  Almeida   Roberto      Mateus Enter  Afrociberdelia
4  Almeida   Roberto     Samba Do Lado  Afrociberdelia